* {
margin: 0;
}

body {
    background-color: black;
}

#filmlist {
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: 1em;
}

figcaption {
    text-align: center;
    background-color: black;
    color: white;
}